.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(39.00000147521496, 53.00000064074993, 52.000000700354576, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e101_3 { 
	background-color:rgba(142.00000673532486, 89.00000229477882, 38.0000015348196, 1);
	width:200px;
	height:76px;
	position:absolute;
	left:44px;
	top:39px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e101_4 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:29px;
	position:absolute;
	left:110px;
	top:63px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e101_5 { 
	background-color:rgba(142.00000673532486, 89.00000229477882, 38.0000015348196, 1);
	width:258px;
	height:52px;
	position:absolute;
	left:1156px;
	top:53px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e101_6 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:29px;
	position:absolute;
	left:1199px;
	top:63px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.101_8 { 
	border:1px solid rgba(173.00000488758087, 155.00000596046448, 132.0000073313713, 1);
}.e101_8 { 
	position:absolute;
	left:720px;
	top:374px;
}.e101_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:128px;
	position:absolute;
	left:216px;
	top:184px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:128px;
	position:absolute;
	left:476px;
	top:184px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:128px;
	position:absolute;
	left:736px;
	top:184px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/rectangle_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:128px;
	position:absolute;
	left:996px;
	top:184px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/rectangle_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:328px;
	height:112px;
	position:absolute;
	left:196px;
	top:425px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:328px;
	height:112px;
	position:absolute;
	left:916px;
	top:425px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e101_15 { 
	background-color:rgba(155.00000596046448, 115.00000074505806, 77.00000301003456, 1);
	width:136px;
	height:38px;
	position:absolute;
	left:292px;
	top:586px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e101_20 { 
	color:rgba(0, 0, 0, 1);
	width:43px;
	height:29px;
	position:absolute;
	left:345px;
	top:590px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e101_16 { 
	background-color:rgba(155.00000596046448, 115.00000074505806, 77.00000301003456, 1);
	width:136px;
	height:38px;
	position:absolute;
	left:1012px;
	top:586px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e101_19 { 
	color:rgba(0, 0, 0, 1);
	width:38px;
	height:29px;
	position:absolute;
	left:1060px;
	top:590px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e109_35 { 
	width:91.59230041503906px;
	height:91.59230041503906px;
	position:absolute;
	left:74px;
	top:202px;
}.e109_33 { 
	transform: rotate(90deg);
	background-color:rgba(255, 255, 255, 1);
	width:91.59230041503906px;
	height:91.59230041503906px;
	position:absolute;
	left:91.5923080444336px;
	top:0px;
}.e109_34 { 
	background-color:rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
	width:26.709611892700195px;
	height:53.43388366699219px;
	position:absolute;
	left:30.502193450927734px;
	top:19.076955795288086px;
}.e109_39 { 
	width:91.59230041503906px;
	height:91.59230041503906px;
	position:absolute;
	left:1289px;
	top:202px;
}.e109_37 { 
	transform: rotate(-90deg);
	background-color:rgba(255, 255, 255, 1);
	width:91.59230041503906px;
	height:91.59230041503906px;
	position:absolute;
	left:0px;
	top:91.59230041503906px;
}.e109_38 { 
	background-color:rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
	width:26.94053077697754px;
	height:53.54732894897461px;
	position:absolute;
	left:34.34039306640625px;
	top:18.97014045715332px;
}